# dependencies
**/node_modules
**/.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Local environment
**/venv
.env
__pycache__/
instance/
db.sqlite3

# IDEs
.vscode/
.idea/
